<div class="container">
<p><b>Winner:</b> <%= @game.winner_name.capitalize %> - this is win number <%=@winner.games_won%>!</p>
<p><b>Loser:</b> <%= @game.loser_name.capitalize%></p>
<p><b>Winning Time:</b> <%=@game.winning_time%> seconds</p>
<p><a href ="/">back to homepage</a></p>
</div>