<div class="container">
<p>Winner: <%= @game.winner_name %></p>
<p>Loser: <%= @game.loser_name%></p>
<p>Winning Time: <%=@game.winning_time%> seconds!</p>
<p><a href ="/">back to homepage</a></p>
</div>