 <div class="container">
 <h1>Let The Race Begin!</h1>


  <table class="racer_table">
    <tr id="player1_strip">
      <td class="active"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><b>FINISH LINE</b></td>
    </tr>
    <tr id="player2_strip">
      <td class="active"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><b>FINISH LINE</b></td>
    </tr>
  </table>
  

<div class="player1_commentary"></div>
<br>
<div class="player2_commentary"></div>
<br>
<div class="winning_commentary"></div>
<br>
<button id="restart">Hold on, Restart!</button>

<form id="result" action="/game/result/<%=@game.id%>" method="post" style="visibility:hidden">
    <input type="text" name="winner">
    <input type="text" name="loser">
</form>

<script>
  var player1_name = "<%= @player_one.name %>";
  var player2_name = "<%= @player_two.name %>"; 
</script>
</div>
