<div class="container">
<h1>Let's Raceeeeeeeeeee!!!</h1>

<h4>First, let's register both players</h4>

  <form action="/signup" method = "post">
    <p><input type="text" name="signup[playerone_name]" placeholder="Player 1 name"></p>
    <p><input type="text" name="signup[playertwo_name]" placeholder="Player 2 name"></p>
    <p><input type="submit" value="We're ready!"></p>
     
  </form>

</div>